{% extends "base.html" %} {% block title %}Dashboard{% endblock %} {% block
content %}
<div class="row">
  <div class="col-12">
    <h1 class="my-4">Hello, {{ current_user.username }}!</h1>
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Total Balance</h2>
          <p class="card-text">${{ balance }}</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Incomes</h2>
          <p class="card-text">${{ incomes }}</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Expenses</h2>
          <p class="card-text">${{ expenses }}</p>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <!-- Financial Trends Section -->
      <div class="col-md-6">
        <h3>Financial Trends</h3>

        <script
          src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"
          type="text/javascript"
        ></script>

        <select placeholder="MM">
          <option name="" value="" style="display: none">Select month</option>
          <option name="January" value="Jan">January</option>
          <option name="February" value="Feb">February</option>
          <option name="March" value="Mar">March</option>
          <option name="April" value="Apr">April</option>
          <option name="May" value="May">May</option>
          <option name="June" value="Jun">June</option>
          <option name="July" value="Jul">July</option>
          <option name="August" value="Aug">August</option>
          <option name="September" value="Sep">September</option>
          <option name="October" value="Oct">October</option>
          <option name="November" value="Nov">November</option>
          <option name="December" value="Dec">December</option>
        </select>

        <div id="div-1" style="width: 100%">
          <canvas id="incomeChart"></canvas>
        </div>
        <div id="div-2" style="width: 100%">
          <canvas id="expenseChart"></canvas>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
        <script>
                  document.addEventListener('DOMContentLoaded', function() {
                    const data = {
                      dates: {{ chart_data.dates | safe }},
                      amounts: {{ chart_data.amounts | safe }},
                      income: {{ chart_data.income | safe }},
                      expense: {{ chart_data.expense | safe }},
                    };

                    new Chart(document.getElementById("incomeChart"), {
                      type: "bar",
                      data: {
                        labels: data.dates,
                        datasets: [
                          {
                            label: "Daily income",
                            data: data.income,
                            borderRadius: 10,
                          },
                        ],
                      },
                      options:{
                        scales:{
                            x:{
                                type:'time',
                                time:{
                                   unit:'day'
                                }
                            },
                            y:{
                                beginAtZero: true
                            }
                        }
                      }
                    });


                    new Chart(document.getElementById("expenseChart"), {
                      type: "bar",
                      data: {
                        labels: data.dates,
                        datasets: [
                          {
                            label: "Daily expenses",
                            data: data.expense,
                            borderRadius: 10,
                          },
                        ],
                      },
                      options:{
                        scales:{
                            x:{
                                type:'time',
                                time:{
                                   unit:'day'
                                }
                            },
                            y:{
                                beginAtZero: true
                            }
                        }
                      }
                    });
                  });
            $(document).ready(function() {
            $('select').change(function() {
             $('select option')[0].value=$('select option:selected').val();
             $('select option')[0].innerHTML=$('select option:selected').val();
             $("select").val($('select option:selected').val());

          	console.log($('select option:selected').val());
            });
          });
        </script>
      </div>

      <!-- Input Income/Expenses Section -->
      <div class="col-md-6">
        <h3>Add Income/Expense</h3>
        <form action="{{ url_for('add_transaction') }}" method="post">
          <div class="form-group">
            <label for="type">Type:</label>
            <select class="form-control" id="type" name="type" required>
              <option value="income">Income</option>
              <option value="expense">Expense</option>
            </select>
          </div>
          <div class="form-group">
            <label for="amount">Amount:</label>
            <input
              type="number"
              class="form-control"
              id="amount"
              name="amount"
              min="0.01"
              step="0.01"
              required
            />
          </div>

          <div class="form-group">
            <label for="category">Category:</label>
            <input
              type="text"
              class="form-control"
              id="category"
              name="category"
              required
            />
          </div>

          <div class="form-group">
            <label for="datepicker">Date:</label>
            <input
              class="form-control"
              type="date"
              id="date"
              name="date"
              min="2024-01-01"
              max="2024-12-31"
            />
          </div>

          <div class="form-group">
            <label for="description">Description:</label>
            <textarea
              class="form-control"
              id="description"
              name="description"
            ></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Add Transaction</button>
        </form>
      </div>
    </div>

    <div class="mt-4">
      <h3>Goals</h3>
      <!-- Placeholder for goals progress -->
    </div>

    <div class="mt-4">
      <h3>Transactions</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Type</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Description</th>
            <th>Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for transaction in transactions %}
          <tr>
            <td>{{ transaction.type }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.category }}</td>
            <td>{{ transaction.description }}</td>
            <td>{{ transaction.date.strftime('%Y-%m-%d') }}</td>
            <td>
              <form
                action="{{ url_for('delete_transaction', transaction_id=transaction.id) }}"
                method="post"
                style="display: inline"
              >
                <button type="submit" class="btn btn-danger btn-sm">
                  Delete
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
